Функционал Контроллера

1) Умеет регистрировать пользователя
2) Умеет входить по логину и паролю
3) Умеет просматривать всех пользователей
4) Умеет менять пароль (отправка логина, пароля и нового пароля)


Функционал Сервиса
4 метода, которые должны дергаться из контроллера.

Пакет dto, который будет в роли RequestBody для приема запроса.

Хранение ЛОКАЛЬНО. То-есть, создаем некий контейнер, в котором и будем хранить наших пользователей. Как именно
- ваш выбор.


Проверки:
a) существует ли уже пользователь
b) совпадает ли старый пароль при обновлении

Без тестов
никуда! Потому и в вашем приложении
должны они быть. Хватит только простых
unit тестов для сервисов. В этой части
сильно придираться не буду, т.к. тему
тестирования мы еще не проходили.

Покрываем все
комментариями.

В конце вы
должны получить работающее приложение,
которое можно запустить и выполнить
все эти операции.

Готовый проект должен быть выложен в личный GitHub и быть PUBLIC